<div class="container">
  <div class="header">
    <img class="barry-img" src = "https://rawgit.com/AllanPooley/3a30fd2e6268bf1de08824a5761fbf71/raw/e1e3b1080a6848b9c1aa1570d8805f40e1d2babf/barry-the-robot.svg" >
    <h1>Hi, my name is Barry.</h1>
    
  </div>
  <input id="speech" type="text">
  <button id="rec" class="btn">
    <i class="fa fa-microphone"></i>
  </button>
  <div id="spokenResponse" class="spoken-response">
    <div class="spoken-response__text"></div>
  </div>
</div>
<div class="debug">
  <div class="debug__btn btn">
    Debug JSON results
  </div>
  <div class="debug__content">
    <textarea id="response" cols="40" rows="20"></textarea>
  </div>
</div>